<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title th:text="#{post.list}">募集投稿一覧</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

<style>
table {
	border: 1px solid gray;
}

table th, table td {
	border: 1px solid gray;
}
</style>
</head>

<body>

	<div layout:fragment="content">
		<div class="listcontent">
			<h2 th:text="#{post.list}" class="listtitle">募集投稿一覧</h2>
			<form th:action="@{/post/search}" method="get" class="searchform">
				<input type="search" name="search" placeholder="募集投稿タイトル" class="search"><br />
				<input type="search" name="wantedPeople" placeholder="募集人数" class="search">
				<button type="submit" class="button">検索</button>
			</form>
			<div th:each="postSearch : ${postSearch}" th:object="${postSearch}"
				class="searchcontent">
				<table>
					<thead>
						<tr>
							<th th:text="#{post_id}">投稿ID</th>
							<th th:text="#{title}">タイトル</th>
							<th th:text="#{wanted_people}">募集人数</th>
							<th th:text="#{name}">名前</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="*{wanted_post_id}"></td>
							<td th:text="*{title}"></td>
							<td th:text="*{wanted_people}"></td>
							<td th:text="*{name}"></td>
						</tr>
					</tbody>
				</table>
				<h2 th:text="#{post}" class="post"></h2>
				<div class="postborder">
					<p th:text="*{post}"></p>
				</div>
				<div>
					<a th:href="@{/post/{id}(id=*{wanted_post_id})}"
						th:text="#{showview}" class="button">詳細画面へ</a>
				</div>
			</div>
			<div th:each="wantedPost : ${wantedPostList}"
				th:object="${wantedPost}" class="postlistcontent">
				<table>
					<thead>
						<tr>
							<th th:text="#{post_id}">投稿ID</th>
							<th th:text="#{title}">タイトル</th>
							<th th:text="#{wanted_people}">募集人数</th>
							<th th:text="#{name}">名前</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="*{wanted_post_id}"></td>
							<td th:text="*{title}"></td>
							<td th:text="*{wanted_people}"></td>
							<td th:text="*{name}"></td>
						</tr>
					</tbody>
				</table>
				<h2 th:text="#{post}" class="post"></h2>
				<div class="postborder">
					<p th:text="*{post}"></p>
				</div>
				<div>
					<a th:href="@{/post/{id}(id=*{wanted_post_id})}"
						th:text="#{showview}" class="button">詳細画面へ</a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>