<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Spring Boot Sample</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>
	<div layout:fragment="content">
		<div th:object="${user}" class="menucontent">
			<P th:text="'名前：'+*{name}+'さん'" class="username"></P>
		
		<ul>
			<li><a th:href="@{/post/create}" th:text="#{volunteer_post}" class="button">ボランティア募集投稿</a></li>
			<li><a th:href="@{/post/list}" th:text="#{post.list}" class="button">ボランティア募集一覧</a></li>
		</ul>
		</div>
	</div>
</body>
</html>