<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>ユーザ登録</title>
</head>

<body>

<div layout:fragment="content">
  <h2>ユーザ登録</h2>

  <form th:action="@{/signup}" method="post" th:object="${userForm}">

    <ul>
      <li th:each="error: ${#fields.detailedErrors()}" th:text="${error.message}">
    </ul>

    <span>ログインID</span>:<input type="text" name="loginId"
                                                    th:value="*{loginId}"><br/>
    <span>名前</span>:<input type="text" name="name" th:value="*{name}"><br/>
    <span>メールアドレス</span>: <input type="text" name="email" th:value="*{email}">
    <span>パスワード</span>: <input type="password" name="password"
                                                     th:value="*{password}">



    <button type="submit">登録</button>
  </form>
</div>

</body>
</html>